.steps-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 0;
}

.order-now-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1rem;
}
.order-now-button:hover {
  background-color: #218838;
}

.step {
  flex: 1;
}

h3 {
  margin-top: 20px;
  font-weight: bold;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.select-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.select-button:hover {
  background-color: #333;
}

.order-btn {
  background-color: black;
  color: white;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
}

  
.content-size {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.photo-size img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.footer {
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    margin-top: 40px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-left {
    font-size: 14px;
    color: #555;
  }

  .footer-right {
    text-align: right;
    font-size: 14px;
    color: #333;
  }

  .footer-right strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }



