.steps-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 0;
}

.step {
  flex: 1;
}

h3 {
  margin-top: 20px;
  font-weight: bold;
}

p {
  color: #666;
  margin-bottom: 20px;
}